# Prerequisites
*.d

# Visual Studio user-specific and workspace files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
*.exe
*.dll
*.pdb
*.cache
*.log

# Ignore the GLM API documentation
/Libraries/include/glm/doc/

# Others
*.VC.db
*.VC.opendb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
